astropy==4.2.1
boto3==1.33.13
dists==0.2
findspark==2.0.1
ipyleaflet==0.18.2
ipython==7.34.0
ipywidgets==8.1.2
matplotlib==3.5.3
numpy==1.21.6
pandas
plot-utils==0.6.14
psutil==5.9.8
pydiffmap==0.2.0.1
pydot==2.0.0
pydotplus==2.0.2
pyspark==3.4.2
PyYAML==6.0.1
resnet==0.1
scikit-learn
scipy==1.7.3
seaborn==0.12.2
torch==1.13.1
torchmetrics==0.11.4
tqdm==4.66.2
traitlets==5.9.0
xgboost==1.6.2
pylab-utils==0.5
lightning==1.9.5
pytorch-lightning==1.9.5
